CompileFlags:
  Add: [-std=c23, -Wall, -Wextra, -Werror, -xc, -I/usr/include/lua5.4, -I/usr/include/glib-2.0, -I/usr/lib/x86_64-linux-gnu/glib-2.0/include]
  Compiler: clang

Diagnostics:
  Suppress: [unused-parameter]

